html {
    height: 100%;
    width: 100%;
  }
  
  body.home {
    background-image: url(imgs/sunset.png);
    background-size: cover;
    Background-position: center;
    font-family: 'Gill Sans', sans serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
  }
 
  body.travels {
    background-image: url(imgs/palm\ tree.avif);
    background-size: cover;
    Background-position: center;
    font-family: 'Gill Sans', sans serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
  } 

  h1 {
    font-family: "amandine", sans-serif;
    font-weight: 500;
    font-size: 200px;
    font-style: normal;
    position: relative;
    color: #aecfeb;
    text-decoration: none;
    margin-top: 200px;
  }
  
  h4 {
    font-family: "amandine", sans-serif;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    color: #5ba7e1;
  }
  
  h5 {
    font-family: "Lindsey-signature", sans-serif;
    font-weight: 400;
    font-size: 50px;
    font-style: normal;
    color: #5ba7e1;
  }
  
  h6 {
    font-family: "amandine", sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    color: #d6dcff;
  }
  
 .nav-link{
    font-family: "amandine", sans-serif;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    color: #5ba7e1;
  }
  .navbar-nav a {
    font-family: "amandine", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .navbar-brand {
    margin-left: 20px;
  }
  
   nav a {
    font-family: "lindsey-signature", sans-serif;
    font-weight: 500;
    font-style: normal;
    position: relative;
    color: #f27945;
    text-decoration: none;
  }
  
  
  nav a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #2b9cf3;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  nav a:hover::before {
    transform: scaleX(1);
  }
  
  nav div {
    display: inline;
  } 

  .waviy {
    position: relative;
  }
  
.ul li{
  font-family: "amandine", sans-serif;
  font-weight: 100;
  font-style: normal;
}
